{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore optio fugit fugiat, assumenda sint excepturi facilis odit nihil explicabo laudantium! 
        Tenetur error hic, dolorem sint quaerat eveniet consequuntur nihil non.</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Singup
            </a>
        </div>
        
    
    </section>
</main>


{% endblock %}